<div class="row">
    <div class="col-xs-4 col-xs-offset-8">
        <div id="bluMarkerLegend_map"><div class="map-blue-marker"></div><div class="map-blue-marker-div">{{bluMarkerLegend}}</div></div>
    </div>
</div>
<div class="row">
    <div id="consumption_map_wrap" style="height:450px;width:100%">
        <div id="consumption_map" style="height:450px;width:100%"></div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-xs-8">
        <div id="consumption_map_legend" style="height:180px;"></div>
    </div>
    <div class="col-xs-4">
        <div id="consumption_map_surveyCardinality"></div>
    </div>
</div>

<div class="modal fade" id="downloadData_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content md-modal">
            <div class="modal-body md-modal">
                <div id="downloadData_modal_content" style="font-size: small" class="col-md-12">
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-9">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" id = "downloadData_modal_content_dynamicPart"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="form-group">
                                <label for="downloadDataJustificationForm">{{downloadDataJustification}}:</label>
                                <textarea class="form-control" rows="4" id="downloadDataJustificationForm"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div id="downloadSelectorType"></div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="consumption_map_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content md-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{fenix_metadata}}</h4>
            </div>
            <div class="modal-body md-modal">
               <div id="consumption_map_meta" class="col-md-12"></div>
            </div>
        </div>
    </div>
</div>