
<h1>{{title}}</h1>


<div id="consumption_map_wrap">

	<p>
		The map below provides a single one-stop access for all globally known individual quantitative food consumption data.
		<br />
		The data presented on the map was identified through inventory made/compiled by the Nutrition and Food Systems Division (ESN) of FAO,
		and in partnership with the Global Dietary Database at Tufts University, building on their previous work in this field.
		<br />
		To date focus has been given to individual food consumption data available in low and middle-income countries.
		In the near future, the inventory will be extended to include datasets available in high-income countries.
		<br />
		This map will be updated on a regular basis, to cover new surveys that are underway.
	</p>

	<div id="consumption_map" style="height:450px;"></div>
	<br />
	<ul id="consumption_map_legend" class="list-group text-primary">
		{{#each legend_items}}
			<li class="list-group-item text-primary">
				<i class="label label-{{className}} text-primary">
					&nbsp;<span style="display:none">{{code}}</span><!-- FOR DEBUG -->
				</i>
				&nbsp;{{title}}
			</li>
		{{/each}}
	</ul>
</div>

<p style="color:#666">
If you have information about existing individual quantitative food consumption data that is not shown in the map, please 
<a href="mailto:fao-who-gift@fao.org"><b>contact us</b>.</a>
<br>
We work continuously to improve FAO/WHO GIFT database, and to make it as complete as possible.
</p>

<br /><br />
