
<div id="consumption_map_wrap" style="height:450px;width:100%">

	<div id="consumption_map" style="height:450px;width:100%"></div>

</div>


<div style="color:#666">
If you have information about existing individual quantitative food consumption data that is not shown in the map, please 
<a href="mailto:fao-who-gift@fao.org"><b>contact us</b>.</a>
<br>
We work continuously to improve FAO/WHO GIFT database, and to make it as complete as possible.

<br /><br />
<br /><br />
<br /><br />

</div>
