
<div>
<label class="text-primary">{{countryName}}</label>
<ul class="list-unstyled consumption-popup-list">
    {{#each items}}
    <li>
        <i class="label label-{{className}}">&nbsp;</i>
        <a href="#" data-uid="{{uid}}">{{title}}</a>
    </li>
    {{/each}}
</ul>
</div>