
<div>
<label class="text-primary">{{countryName}}</label>
<ul class="list-group">
    {{#each items}}
    <li style="list-style:none;margin-bottom:5px">
        <i class="label label-{{className}}">&nbsp;</i>
        &nbsp;&nbsp;
        <a href="#" title="{{uid}}">{{title}}</a>
    </li>
    {{/each}}
</ul>
</div>