
<div>
<label class="text-primary">{{countryName}}</label>
<ul class="list-group">
    {{#each items}}
    <li style="list-style:none">
        <i class="label label-{{className}}">&nbsp;</i>
        <a href="#" data-uid="{{uid}}">{{title}}</a>
    </li>
    {{/each}}
</ul>
</div>