<div class="row">
    <div class="col-md-12">
        <h1>{{geographic}}</h1>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div data-selector="country"></div>
    </div>
</div>

<hr>

<div class="row">

    <div class="col-md-12">
        <h1>{{survey}}</h1>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div data-selector="time"></div>

    </div>

    <div class="col-xs-6">
        <div data-selector="referenceArea"></div>
        <div data-selector="coverageSector"></div>
    </div>
</div>

<hr>

<div class="row">

    <div class="col-md-12">
        <h1>{{population}}</h1>
    </div>

</div>
<div class="row">
    <div class="col-md-6">

        <div data-selector="gender"></div>
        <div data-selector="special_condition"></div>

    </div>
    <div class="col-md-6">
        <div data-selector="ageGranularity"></div>
        <div data-selector="age"></div>
    </div>
</div>
<hr>
<div class="row">


    <div class="col-md-12">
        <h1>{{food}}</h1>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div data-selector="foodex2_code"></div>
    </div>
</div>