<div id="catalog"></div>

<div class="modal fade" id="infoForm_modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content md-modal">
            <div class="modal-body md-modal">
                <div id="infoForm_modal_content" class="col-md-12">
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-9">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div id="infoForm_modal_contentBody" class="col-md-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="downloadData_modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content md-modal">
            <div class="modal-body md-modal">
                <div id="downloadData_modal_content" class="col-md-12">
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-9">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" id = "downloadData_modal_content_dynamicPart">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div class="form-group">
                                <label for="downloadDataJustificationForm">{{downloadDataJustification}}:</label>
                                <textarea class="form-control" rows="4" id="downloadDataJustificationForm"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div id="downloadDataJustificationFormError" style="display: none">{{downloadDataJustificationError}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <div id="downloadSelectorType"></div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Metadata Modal -->
<div class="modal fade" id="statistics_metadata_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content md-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{fenix_metadata}}</h4>
            </div>
            <div class="modal-body md-modal">
                <div id="statistics_metadata_content" class="col-md-12">
                </div>
            </div>
        </div>
    </div>
</div>
