<div class="row">

    <div class="col-xs-4">
        <div>
            <h2>
                <span>{{dailyPortion}}</span>
            </h2>
            <h3>
                <span>{{indicator}}</span>
                <span> {{foodSafetyTitle}}</span>
            </h3>
            <span >{{foodSafetyDescription}}</span>
        </div>
        <div data-role="filter"></div>
    </div>

    <div class="col-xs-8">

        <div id="columns">COLUMNS</div>

    </div>

</div>