<div class="row">

    <div class="col-xs-12">
        <ul class="nav nav-pills">

            <li class="active"><a data-toggle="tab" href="#dailyPortion">{{dailyPortion}}</a></li>

        </ul>

        <div class="tab-content chart-holder">

            <div id="dailyPortion" class="tab-pane fade in active">

                <div class="row">
                    <div class="col-xs-4">

                        <h3>
                            <span>{{indicator}}</span>
                            <span> {{foodSafetyTitle}}</span>
                        </h3>
                        <span>{{foodSafetyDescription}}</span>

                        <div data-role="filter"></div>
                    </div>

                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-5 col-xs-offset-1">
                                <div class="progress population-percentage">
                                    <div id='column-standard-progress-bar' class="progress-bar" role="progressbar" aria-valuenow="30"
                                         aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                                <div class="population-text text-center">
                                    <b><span class="percentage" id="column-standard-percentage"> - </span></b> of the population
                                    consumed <b><span class="item" id='column-standard-percentage-item'> - </span></b>
                                    during the survey*
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="columns-holder" id="columnChart">
                                    <div class="column-text text-center">Out of them:</div>
                                    <div id="column-standard"></div>
                                    <div class="axis"></div>
                                    <div class="details low text-center">
                                        <span class="percentage">5%</span>
                                        <span class="text">Consumes less than</span>
                                        <span class="amount" id="column_standard_amount_low"> - </span>
                                    </div>
                                    <div class="details medium text-center">
                                        <span class="percentage">50%</span>
                                        <span class="text">Consumes more than</span>
                                        <span class="amount" id="column_standard_amount_middle"> - </span>
                                    </div>
                                    <div class="details high text-center">
                                        <span class="percentage">5%</span>
                                        <span class="text">Consumes more than</span>
                                        <span class="amount" id="column_standard_amount_high"> - </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>