



#consumption_map {
  border: 1px solid #D2D0D0;


  div.csc-default ul li{
    left: 0;
  }

}

#consumption_map_legend {
  margin-bottom: 0;
}
#consumption_map_legend li {
  background-color: rgba(255,255,255,0.5);
}