



#consumption_map {
  border: 1px solid #D2D0D0;


   ul li{
    left: 0;
  }

  .leaflet-popup-content  li{
    list-style: none;
  }

}

#consumption_map_legend {
  margin-bottom: 0;
}
#consumption_map_legend li {
  background-color: rgba(255,255,255,0.5);
}


#consumption_map_legend .leaflet-panel-layers {
	box-shadow: none;
}
.leaflet-panel-layers-item {
	padding: 4px;
	background: none;
	border: 1px solid transparent;
}
.leaflet-panel-layers-item.active {
	padding: 4px;
	border: 1px solid #bbb;	
}
.leaflet-panel-layers-item input[type="radio"],
.leaflet-panel-layers-item input[type="checkbox"] {
	display: inline-block;
	margin: 0 5px;
	float: left;
}
.leaflet-panel-layers.panel-hiddens input[type="radio"],
.leaflet-panel-layers.panel-hiddens input[type="checkbox"]  {
	float: left;
}

label.leaflet-panel-layers-title {
	font-weight: normal;
}
.leaflet-panel-layers-icon {
	margin-right: 5px;
}
.leaflet-panel-layers-icon .label-gray {
	background: #ccc;
}

.marker-cluster {
	background-color: rgba(10, 140, 226, 0.4);
}

.marker-cluster div {
	color: rgba(255,255,255,0.9);
	font-weight: bold;
	background-color: rgba(10, 140, 226, 0.4);
}

.leaflet-control-disclaimer div.tooltip {
	background-color: transparent;
	width: 400px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.leaflet-control-disclaimer .tooltip-inner {
	max-width: none;
	background-color: white;
	color: inherit;
	margin-bottom: 40px;
	padding: 6px;
}

.leaflet-control-disclaimer .tooltip .tooltip-arrow {
	border-left-color: white;

}
