



#consumption_map {
  border: 1px solid #D2D0D0;


   ul li{
    left: 0;
  }

  .leaflet-popup-content  li{
    list-style: none;
  }

}

#consumption_map_legend {
  margin-bottom: 0;
}
#consumption_map_legend li {
  background-color: rgba(255,255,255,0.5);
}