<div id="000023BGD201001">
    <div class="row">
        <div class="col-xs-12">
            <p>&nbsp;</p>
            <p style="text-align: center;"><strong>The dataset you are going to download is shared through FAO/WHO GIFT by:<br />&nbsp;</strong><span style="color: #ff0000;">International Food Policy Research Institute (IFPRI)&nbsp; through HarvestPlus, </span><br /><span style="color: #ff0000;">within the frame of the Agriculture for Nutrition and Health (A4NH) </span><br /><span style="color: #ff0000;">of CGIAR, A Global Agricultural Research Partnership</span></p>
            <p style="text-align: center;"><span style="color: #000000;">We thank them for their collaboration.</span></p>
            <p style="text-align: center;"><span style="color: #000000;">By downloading this dataset you accept to:</span></p>
            <ul style="text-align: center;">
                <li><span style="color: #000000;"> comply with all applicable laws, including, without limitation, privacy laws, intellectual property laws, anti-spam laws;</span></li>
                <li><span style="color: #000000;">not publicly represent or imply that FAO is participating in, or has sponsored, approved or endorsed the manner or purpose of your use of the database;</span></li>
                <li><span style="color: #000000;">provide the following acknowledgment to the contributor whenever publishing or presenting publicly the data or its derivatives:</span></li>
            </ul>
            <p style="text-align: center;"><span style="color: #ff0000;"><strong>Institut de Recherche pour le D&eacute;veloppement (IRD), France; Institut de Recherche en Sciences de la Sant&eacute; (IRSS), Burkina Faso; HarvestPlus, International Food Policy Research Institute (IFPRI), 2010, "Food consumption and iron status survey in two provinces of rural Burkina Faso". <a href="http://dx.doi.org/10.7910/DVN/5CXCLX">http://dx.doi.org/10.7910/DVN/5CXCLX</a></strong></span></p>
            <p style="text-align: center;"><span style="color: #000000;">Or shortly:</span></p>
            <p style="text-align: center;"><span style="color: #ff0000;">IRD, IRSS, HarvestPlus - IFPRI; 2010</span></p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>