// Typo 3 Bootstrap compatibility

.fx-sandbox{
  @import 'fx-boot/bootstrap';

  &.fx-overflow{
    width: 910px !important;
    overflow-x: hidden !important;
  }

  #readyToUseTabs{
    margin-bottom: 15px !important;
  }

  h1, h2, h3, h4, h5, h6 {

    border-top: 0 !important;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
  }


  &.fao-holder{
    width: 960px;
    margin: 0 auto;
  }

  padding: 0 5px;


  @import "fenix-ui-catalog";
  @import "fenix-ui-filter";

  @import 'base/variables';
  @import 'utils/fx-utils';

  @import 'base/fx-fonts-import';
  @import 'base/fx-icons';

  //pages
  @import 'pages/readyToUse';
  @import 'pages/consumption';
  @import 'pages/mde';
  @import 'pages/home';

  @import 'themes/typo3-fix';


    #mde{
    .modal-content{
      width: 877px !important;
    }


    }


  .fx-button-primary-color{
    color: white !important;
  }

}




