// Typo 3 Bootstrap compatibility

.fx-sandbox{
  @import 'fx-boot/bootstrap';

  &.fx-overflow{
    width: 910px !important;
    overflow-x: hidden !important;
  }

  #readyToUseTabs{
    margin-bottom: 15px !important;
  }


  &.fao-holder{
    width: 960px;
    margin: 0 auto;
  }

  padding: 0 5px;


  @import "fenix-ui-catalog";
  @import "fenix-ui-filter";

  @import 'base/variables';
  @import 'utils/fx-utils';

  @import 'base/fx-fonts-import';
  @import 'base/fx-icons';

  //pages
  @import 'pages/readyToUse';
  @import 'pages/consumption';
  @import 'pages/mde';
  @import 'pages/home';

  @import 'themes/typo3-fix';


    #mde{
    .modal-content{
      width: 877px !important;
    }


    }


  .fx-button-primary-color{
    color: white !important;
  }

}

// Modal in bootstrap FIX

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}